RewriteEngine On

RewriteRule ^app/data/get_exhibitors\.php/([0-9]{4})/?$ app/data/get_exhibitors.php?year=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(.*)$ index.php [L,QSA]